*{
  margin: 0px;
  padding: 0px;
}
.navbar{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 70px;
  background-color: rgb(14, 11, 11);
}
.btn-1{
  font-family:cursive;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}
.btn-1 select{
  font-family: cursive;
  background-color: black;
  border: 1px solid gray;
  color: white;
}
.btn-2{
  margin-top: 20px;
}
.sign {
  text-decoration: none;
  padding:3px 3px 3px 3px ;
  font-size: 14px;
  font-family: cursive;
  background-color: red;
  border-radius: 2px;
  margin-right: 20px;
  color: white;
}

.header{
  background: url('./1_5lyavS59mazOFnb55Z6znQ.png');
  background-repeat: no-repeat;
  background-size: 1220px 630px;
  width: auto;
  height: 600px;
  /* filter: grayscale(10%) contrast(100%) brightness(35%); */
}

.main-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar img{
  margin-top: 17px;
  margin-left: 59px;
  height: 39px;
  color: red;
  font-weight: 400;
}
.intro{
  padding-left: 10px ;
  width: auto;
  height: 120px;
  background: black;
  opacity: 0.7;
  margin-top: 120px;
  font-family: cursive;
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.main-intro{
  width: auto;
  height: 47px;
  padding-left: 10px;
  background: black;
  opacity: 0.7;
  margin-top: 10px;
  color: white;
  font-size: 25px;
  font-family: cursive;
}
.main-intros{
  width: auto;
  height: 70px;
  padding-left: 10px;
  background: black;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  font-family: cursive;
}


@media (max-width:700px){

  .navbar{
    width: auto;
    height: 60px;
  }
.navbar img{
  margin-top: 17px;
  margin-left: 39px;
  height: 28px;
  color: red;
  font-weight: 400;
}
.btn-1 select{
  font-size: 13px;
}
.btn-1 option{
  font-size: 13px;
}

  .intro{
    font-size: 23px;
    width: auto;
    height: 70px;
  }
  .main-intro{
    font-size: 18px;
    padding-right: 10px;
    width: auto;
    height: 33px;
  }
  .main-intros{
    font-size: 15px;
    width: auto;
    height: 50px;

  }
}